
#cardMovie{
    width: 10%;
}
#cardMovieWraper{
    margin: 10px 20px;
    background-color: rgba(3, 7, 30, 0.507);
    width: 20%;
}
#cardContainer{
    background-color: rgba(3, 7, 30, 0.507);
   /* display: flex;
    justify-content: center;*/
    align-items: center;
}
#rowCollapse{
    background-color: rgba(255, 153, 0, 0.521);
    backdrop-filter: blur(0.4rem);
}
.NavCollapse{
    
    display: flex;
    flex-direction:row;
    padding: 10px;
}
#btnCollapse{
    margin-left: 10px;
    border:solid rgb(240, 240, 240) ;
    border-radius: 99px;
}
#btnMoreDetails{
    color: black;
    letter-spacing: 3px;
}
#formMovieWraper{
    width: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
    color: black;
}
#genres{
    /*padding-left: 20px;*/
    background-color:rgba(218, 218, 218, 0.514);

}
#formFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#formFilter>label{
    padding: 0 15px;
    align-items: center;
    text-align:center;
    white-space: nowrap;
}
