*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.navBar{
    background-color: #24252A;
    background-image: linear-gradient(to bottom, #24252A,#370617);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
}
ul{
  margin: 0;
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
a:link, a:visited{
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 3px 2%;

}
.navItems{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 2%;
}
.navLeft{
    display: flex;
    align-items: center;
    padding-right: 25%;
}
.navSearch{
    font-family: "Montserrat" ,sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #edf0f1;
    background-color:rgba(121, 103, 103, 0.3) ;
    height: 2.9em;
    width: 60vh;
    margin: 0 1.5em;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
    position: relative;
    left: 1em;
}
.navSearch:focus{
    outline: none;
}
.logo{
    height: 50px;
    width: 50px;

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .side-navbar {
    width: 180px;
    height: 50%;
    position: absolute;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
    z-index: 1000;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #fd002a63;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-top: 50px;
    margin-left: -25px;
  }
  

  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -10px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  